<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
<div class="divcontainer">
<div>
<label for="title">title</label>
        <input class="form-input" type="text" id="title" name="title" />
</div>
<div>
<label for="content">content</label>
        <textarea class="form-input" id="content" name="content"></textarea>
        </div>
        <button id='submit'>submit</button>
</div>
        <script src='/js/submit.js'></script>